<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/modal.css">
	<link rel="stylesheet" type="text/css" href="/util.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
</head>
<body>
<button class="show" aria-haspopup="true">Show Modal</button>

<div class="mask" role="dialog"></div>
<div class="modal" role="alert">
  <button class="close" role="button">X</button>
</div>

<!--===============================================================================================-->
	<script src="/modal.js"></script>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/bootstrap/js/popper.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>