<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/util.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/modal.css">
	<link rel="stylesheet" type="text/css" href="/loadingMask.css">
<!--===============================================================================================-->
<style>
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
      
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
  
/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

</style>
</head>
<body>
<div class="loading-mask" style="opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;">  
</div>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form autocomplete="off" class="login100-form validate-form" action="register" method="post">
					<input autocomplete="false" name="hidden" type="text" style="display:none;">
					<span class="login100-form-title p-b-33">
						User Registration
					</span>
					
					
					<div class="wrap-input100">
						<input class="input100" id="name" type="text" name="name" placeholder="Name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>	
					
					
		
				
					<div class="wrap-input100">
					<div class="register-switch input100">
      <input type="radio" name="sex" value="Female" id="sex_f" class="register-switch-input" checked>
      <label for="sex_f" class="register-switch-label">Female</label>
      <input type="radio" name="sex" value="Male" id="sex_m" class="register-switch-input">
      <label for="sex_m" class="register-switch-label">Male</label>
    </div>	
    </div>	
					
					
					<div class="wrap-input100 rs1 validate-input">
						<input class="input100" id="dob" type="date" name="dob" placeholder="Date Of Birth">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
						
					</div>
				
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" id="email" type="text" name="email" placeholder="Email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
						
					
					
					<div class="wrap-input100">
						<input class="input100" id="addr1" type="text" name="address1" placeholder="Address Line 1">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
				
					<div class="wrap-input100">
						<input class="input100" id="addr2" type="text" name="address2" placeholder="Address Line 2">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
				
					<div class="wrap-input100">
						<input class="input100" id="course" type="text" name="course" placeholder="Course">
                		<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					
					<div class="wrap-input100">
					<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" required></select>
					<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					
					<div class="wrap-input100">
					<select id ="state" class="form-control" name="city" required></select>
					<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					
					<a class="button" href="#popup1">
					<div class="container-login100-form-btn m-t-20">
					<div class="box login100-form-btn">
					College Details
					</div>
					</div>
					</a>
					
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit" id="submit">
							Submit
						</button>
					</div>
					
					<div id="popup1" class="overlay">
	<div class="popup">
		<span class="login100-form-title p-b-33">
						College Details
					</span>
		<a class="close" href="#" onClick="document.getElementById('collgN').value='';document.getElementById('collgC').value='';">&times;</a>
		<div class="wrap-input100">
						<input class="input100" id="collgN" type="text" name="collegeName" placeholder="College Name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="wrap-input100">
						<input class="input100" id="collgC" type="text" name="collegeCity" placeholder="College City">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<div class="container-login100-form-btn m-t-20">
						<a class="login100-form-btn" type="button" href="#submit">
							Done
						</a>
					</div>
	</div>
</div>
					
    </div>
				</form>
			
			</div>
		</div>
	
	</div>


	
<!--===============================================================================================-->
	<script src="/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/bootstrap/js/popper.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/daterangepicker/moment.min.js"></script>
	<script src="/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/main.js"></script>
	<script src="/autocomplete.js"></script>
	<script src="/cities.js"></script>
	<script src="/modal.js"></script>
	<script src="/app.js"></script>
	
<script>
	var el = document.getElementById('course');
	if(el)
	{
	autocomplete(el);
	}
	print_state("sts");
	
</script>

</body>
</html>