<!DOCTYPE html>
<html>
   <head>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/adapter/ext/ext-base.js"></script>

    <link href = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" 
         rel = "stylesheet" />
      <script type = "text/javascript" src = "/Ext/ext-all.js"></script>
      
       <script type = "text/javascript" src="/login.js"> </script>  
      <title>Home Page</title>
   </head>
   
   <body>
	<p id="demo"></p>
   </body>
</html>