<!DOCTYPE html>
<html>
   <head>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/adapter/ext/ext-base.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/ext-all.js"></script> 
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" 
         rel = "stylesheet" />
      <script type = "text/javascript" src = "../lib/Ext/ext-all.js"></script>
      
       <script type = "text/javascript" src="../js/registration.js"> </script>  
      <title>Registration Page</title>
   </head>
   
   <body>

   </body>
</html>